## FULL NETFLIX DATASET

In [22]:
#Alustukset

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data_path = "./data/full_netflix_dataset.csv"

# Datasetin osoite: https://www.kaggle.com/datasets/octopusteam/full-netflix-dataset

In [23]:
#luodaan tiedostosta dataframe ja tulostetaan se.

netflix_df = pd.read_csv(data_path)

netflix_df

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,517695.0,"AT, CH, DE"
1,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,8.2,1223453.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM..."
2,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,211879.0,"AD, AE, AG, AL, AO, AT, AZ, BA, BG, BH, BM, BR..."
3,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,444499.0,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO..."
4,Eternal Sunshine of the Spotless Mind,movie,"Drama, Romance, Sci-Fi",2004.0,tt0338013,8.3,1106519.0,"AD, AE, AG, AL, AO, AR, AU, AZ, BA, BB, BE, BG..."
...,...,...,...,...,...,...,...,...
20191,NaN,tv,NaN,2024.0,NaN,NaN,NaN,"AL, AZ, BA, BG, BY, CY, EE, FR, GF, HU, IT, LT..."
20192,NaN,tv,Drama,2024.0,NaN,NaN,NaN,"AO, CI, CM, CV, GH, GQ, KE, MG, ML, MU, MZ, NE..."
20193,NaN,tv,"Animation, Action & Adventure",2016.0,NaN,NaN,NaN,"FJ, HK, ID, IN, JP, KR, MU, MY, PH, PK, SG, TH..."
20194,NaN,tv,NaN,NaN,NaN,NaN,NaN,"FJ, HK, ID, IN, JP, KR, MU, MY, PH, PK, SG, TH..."
20195,Blippi's Ultimate Bounce House Challenges,tv,NaN,2024.0,tt33769880,NaN,NaN,"AG, AL, AO, AU, AZ, BA, BB, BG, BM, BS, BY, BZ..."

In [24]:
print(netflix_df.head())

                                   title   type                     genres  \
0                      The Fifth Element  movie  Action, Adventure, Sci-Fi
1                      Kill Bill: Vol. 1  movie    Action, Crime, Thriller
2                                Jarhead  movie      Biography, Drama, War
3                             Unforgiven  movie             Drama, Western
4  Eternal Sunshine of the Spotless Mind  movie     Drama, Romance, Sci-Fi

   releaseYear     imdbId  imdbAverageRating  imdbNumVotes  \
0       1997.0  tt0119116                7.6      517695.0
1       2003.0  tt0266697                8.2     1223453.0
2       2005.0  tt0418763                7.0      211879.0
3       1992.0  tt0105695                8.2      444499.0
4       2004.0  tt0338013                8.3     1106519.0

                                  availableCountries
0                                         AT, CH, DE
1  AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM...
2  AD, AE, AG, AL, AO, AT, AZ, BA, BG, BH, BM, BR...
3  AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO...
4  AD, AE, AG, AL, AO, AR, AU, AZ, BA, BB, BE, BG...

In [25]:
print(netflix_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20196 entries, 0 to 20195
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               19682 non-null  object
 1   type                20196 non-null  object
 2   genres              19928 non-null  object
 3   releaseYear         20181 non-null  float64
 4   imdbId              18887 non-null  object
 5   imdbAverageRating   18734 non-null  float64
 6   imdbNumVotes        18734 non-null  float64
 7   availableCountries  20196 non-null  object
dtypes: float64(3), object(5)
memory usage: 1.2+ MB
None

In [26]:
print(netflix_df.describe())

        releaseYear  imdbAverageRating  imdbNumVotes
count  20181.000000       18734.000000  1.873400e+04
mean    2012.936078           6.399664  3.201550e+04
std       14.401484           1.092814  1.199338e+05
min     1913.000000           1.200000  5.000000e+00
25%     2011.000000           5.800000  3.420000e+02
50%     2018.000000           6.500000  1.638000e+03
75%     2021.000000           7.200000  1.054950e+04
max     2025.000000           9.500000  2.965793e+06

In [27]:
# Tarkista, onko päällekkäisiä rivejä
duplicates = netflix_df[netflix_df.duplicated()]

# Tulosta päällekkäiset rivit
print(duplicates)

      title type   genres  releaseYear imdbId  imdbAverageRating  \
18123   NaN   tv  Reality       2020.0    NaN                NaN
18212   NaN   tv  Reality       2020.0    NaN                NaN
18302   NaN   tv      NaN       2021.0    NaN                NaN
18344   NaN   tv  Reality       2021.0    NaN                NaN
18367   NaN   tv  Reality       2021.0    NaN                NaN
...     ...  ...      ...          ...    ...                ...
20147   NaN   tv  Reality       2024.0    NaN                NaN
20151   NaN   tv  Reality       2024.0    NaN                NaN
20172   NaN   tv      NaN       2024.0    NaN                NaN
20174   NaN   tv     Kids       2024.0    NaN                NaN
20177   NaN   tv  Reality       2024.0    NaN                NaN

       imdbNumVotes availableCountries
18123           NaN                 KR
18212           NaN                 KR
18302           NaN                 JP
18344           NaN                 KR
18367           NaN                 KR
...             ...                ...
20147           NaN                 KR
20151           NaN                 KR
20172           NaN                 JP
20174           NaN                 KR
20177           NaN                 KR

[85 rows x 8 columns]

In [28]:
netflix_df = netflix_df.drop_duplicates()

In [29]:
#Tarkastetaan puuttuvat arvot
missing_values = netflix_df.isnull().sum()
print("Puuttuvat arvot sarakkeittain:")
print(missing_values)

Puuttuvat arvot sarakkeittain:
title                  429
type                     0
genres                 259
releaseYear             15
imdbId                1224
imdbAverageRating     1377
imdbNumVotes          1377
availableCountries       0
dtype: int64

In [30]:
# Poista rivit, joissa on puuttuvia arvoja
netflix_df_cleaned = netflix_df.dropna()

# Tarkista datan koko puhdistamisen jälkeen
print("Datan koko puhdistamisen jälkeen:", netflix_df_cleaned.shape)

Datan koko puhdistamisen jälkeen: (18734, 8)

In [31]:
netflix_df_cleaned['releaseYear'] = netflix_df_cleaned['releaseYear'].astype(int)

# Varmista, että muutos onnistui
print(netflix_df_cleaned.dtypes)

title                  object
type                   object
genres                 object
releaseYear             int64
imdbId                 object
imdbAverageRating     float64
imdbNumVotes          float64
availableCountries     object
dtype: object

C:\Users\brort\AppData\Local\Temp\ipykernel_11624\695698120.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_df_cleaned['releaseYear'] = netflix_df_cleaned['releaseYear'].astype(int)

## laske puuttuvan datan osuus.

In [32]:
netflix_df_cleaned.drop(["imdbId", "imdbNumVotes", "availableCountries"], axis=1, inplace= True)

C:\Users\brort\AppData\Local\Temp\ipykernel_11624\905758604.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_df_cleaned.drop(["imdbId", "imdbNumVotes", "availableCountries"], axis=1, inplace= True)

In [33]:
#Suodatus: Jätetään jäljelle rivit joiden type on movie.
netflix_df_cleaned = netflix_df_cleaned[netflix_df_cleaned['type'] == 'movie']

In [34]:
#Varmistetaan data.
netflix_df_cleaned

,title,type,genres,releaseYear,imdbAverageRating
0,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997,7.6
1,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003,8.2
2,Jarhead,movie,"Biography, Drama, War",2005,7.0
3,Unforgiven,movie,"Drama, Western",1992,8.2
4,Eternal Sunshine of the Spotless Mind,movie,"Drama, Romance, Sci-Fi",2004,8.3
...,...,...,...,...,...
15510,It's All Over: The Kiss That Changed Spanish F...,movie,"Documentary, Sport",2024,6.8
15518,Once in a Lifetime,movie,Documentary,2009,7.1
15520,Adrienne Iapalucci: The Dark Queen,movie,"Comedy, Documentary",2024,6.6
15529,Nayanthara: Beyond the Fairy Tale,movie,Documentary,2024,4.0
15531,Chhota Bheem Aur Mahavinashini ka Vinaash,movie,Animation,2022,6.5

In [42]:
print(netflix_df_cleaned.describe())

        releaseYear  imdbAverageRating
count  14618.000000       14618.000000
mean    2010.948557           6.217971
std       15.928067           1.047387
min     1913.000000           1.200000
25%     2008.000000           5.600000
50%     2017.000000           6.300000
75%     2021.000000           6.900000
max     2024.000000           9.400000

- Jaa yksi datasetin jatkuvaa numeerista dataa sisältävä sarake sopiviin luokkiin (käytä esimerkiksi `cut`- tai `qcut`-funktiota).  
- Tunnista datasetistä poikkeavat arvot (outlierit). Jos datasetissä ei ole poikkeavia arvoja, voit satunnaisesti muokata osaa datasta.  
- Päätä, mitä tehdä poikkeaville arvoille.

In [35]:
releaseYear_df=pd.crosstab(netflix_df_cleaned['releaseYear'],'Count')
releaseYear_df.columns.name=''
releaseYear_df

             Count
releaseYear
1913             1
1917             1
1918             1
1919             2
1920             2
...            ...
2020           881
2021           953
2022          1187
2023          1047
2024           486

[105 rows x 1 columns]

In [41]:
# Luo binssit viiden vuoden välein tasaluvuin (0-4, 5-9 jne.)
bins_5y = range(netflix_df_cleaned['releaseYear'].min() // 5 * 5, netflix_df_cleaned['releaseYear'].max() + 5, 5)

# Luo uusi sarake, jossa julkaisuvuodet on jaettu 5 vuoden välein
netflix_df_cleaned['5_year_bins'] = pd.cut(netflix_df_cleaned['releaseYear'], bins=bins_5y, right=False)

# Crosstab 5 vuoden välein
releaseYear_5y_df = pd.crosstab(netflix_df_cleaned['5_year_bins'], 'Count')
releaseYear_5y_df.columns.name = ''

# Tulosta taulukko
print("5 vuoden välein (tasaluvuin 0–4, 5–9, jne.):")
print(releaseYear_5y_df)

5 vuoden välein (tasaluvuin 0–4, 5–9, jne.):
              Count
5_year_bins
[1910, 1915)      1
[1915, 1920)      4
[1920, 1925)      5
[1925, 1930)      9
[1930, 1935)     14
[1935, 1940)     29
[1940, 1945)     26
[1945, 1950)     52
[1950, 1955)    120
[1955, 1960)    132
[1960, 1965)    127
[1965, 1970)    113
[1970, 1975)    153
[1975, 1980)    143
[1980, 1985)    197
[1985, 1990)    223
[1990, 1995)    264
[1995, 2000)    363
[2000, 2005)    787
[2005, 2010)   1211
[2010, 2015)   1929
[2015, 2020)   4162
[2020, 2025)   4554

In [37]:
# Luo binssit vuosikymmeniä varten
bins_decades = range(netflix_df_cleaned['releaseYear'].min() // 10 * 10, netflix_df_cleaned['releaseYear'].max() + 10, 10)

# Luo uusi sarake, jossa julkaisuvuodet on jaettu vuosikymmeniin
netflix_df_cleaned['decade_bins'] = pd.cut(netflix_df_cleaned['releaseYear'], bins=bins_decades, right=False)

# Crosstab vuosikymmenten välein
releaseYear_decades_df = pd.crosstab(netflix_df_cleaned['decade_bins'], 'Count')
releaseYear_decades_df.columns.name = ''
print("\nVuosikymmenten välein:")
print(releaseYear_decades_df)

Vuosikymmenten välein:
              Count
decade_bins
[1910, 1920)      5
[1920, 1930)     14
[1930, 1940)     43
[1940, 1950)     78
[1950, 1960)    252
[1960, 1970)    240
[1970, 1980)    296
[1980, 1990)    420
[1990, 2000)    627
[2000, 2010)   1998
[2010, 2020)   6091
[2020, 2030)   4554

**Dataobjektit ja attribuuttityypit**  
- Tulosta datasetistä sarakkeiden nimet, jotka edustavat nimellisiä attribuutteja.  
- Tulosta datasetistä sarakkeiden nimet, jotka edustavat binaarisia attribuutteja.  
- Tulosta datasetistä sarakkeiden nimet, jotka edustavat järjestettyjä attribuutteja (ordinal).

In [38]:
# Nimelliset attribuutit: object-tyyppiset sarakkeet
nominal_columns = netflix_df_cleaned.select_dtypes(include=['object']).columns.tolist()
print("Nimelliset attribuutit:")
print(nominal_columns)

Nimelliset attribuutit:
['title', 'type', 'genres']

In [39]:
# Binaariset attribuutit: sarakkeet, joissa on vain kaksi ainutlaatuista arvoa
binary_columns = [col for col in netflix_df_cleaned.columns if netflix_df_cleaned[col].nunique() == 2]
print("Binaariset attribuutit:")
print(binary_columns)

Binaariset attribuutit:
[]

In [40]:
# Järjestetyt attribuutit: numeeriset sarakkeet (int/float), joita voidaan pitää järjestettyinä
ordinal_columns = netflix_df_cleaned.select_dtypes(include=['int64', 'float64']).columns.tolist()
print("Järjestetyt attribuutit:")
print(ordinal_columns)

Järjestetyt attribuutit:
['releaseYear', 'imdbAverageRating']

**Perustilastot**  
Tee NumPyn avulla perustilastollisia operaatioita datasetille. Ohjeena voit laskea seuraavat:  
- Keskiarvo (Mean)  
- Mediaani  
- Keskiarvon hajonta (Standard Deviation)  
- Varianssi  
- Minimi- ja maksimiarvot  
- Summa ja tulo

In [46]:
# Valitaan numeerinen sarake analyysiin (esim. imdbAverageRating)
numeric_data = netflix_df_cleaned['imdbAverageRating'].dropna()  # Poistetaan puuttuvat arvot
print('IMBD avg Rating - Perustilastot')
print()
# Keskiarvo (Mean)
mean_value = np.mean(numeric_data)
print("Keskiarvo (Mean):", mean_value)

# Mediaani
median_value = np.median(numeric_data)
print("Mediaani (Median):", median_value)

# Keskiarvon hajonta (Standard Deviation)
std_dev = np.std(numeric_data)
print("Keskiarvon hajonta (Standard Deviation):", std_dev)

# Varianssi
variance = np.var(numeric_data)
print("Varianssi (Variance):", variance)

# Minimiarvo
min_value = np.min(numeric_data)
print("Minimiarvo (Minimum):", min_value)

# Maksimiarvo
max_value = np.max(numeric_data)
print("Maksimiarvo (Maximum):", max_value)

# Summa
sum_value = np.sum(numeric_data)
print("Summa (Sum):", sum_value)

# Tulo
product_value = np.prod(numeric_data)
print("Tulo (Product):", product_value)

IMBD avg Rating - Perustilastot

Keskiarvo (Mean): 6.217970994664113
Mediaani (Median): 6.3
Keskiarvon hajonta (Standard Deviation): 1.0473509972063522
Varianssi (Variance): 1.0969441113491405
Minimiarvo (Minimum): 1.2
Maksimiarvo (Maximum): 9.4
Summa (Sum): 90894.3
Tulo (Product): inf

c:\Program Files\Python312\Lib\site-packages\numpy\_core\_methods.py:57: RuntimeWarning: overflow encountered in reduce
  return umr_prod(a, axis, dtype, out, keepdims, initial, where)

In [ ]:
# Valitaan numeerinen sarake analyysiin
numeric_data = netflix_df_cleaned['releaseYear'].dropna()  # Poistetaan puuttuvat arvot
print('Realease Year - Perustilastot')
print()
# Keskiarvo (Mean)
mean_value = np.mean(numeric_data)
print("Keskiarvo (Mean):", mean_value)

# Mediaani
median_value = np.median(numeric_data)
print("Mediaani (Median):", median_value)

# Keskiarvon hajonta (Standard Deviation)
std_dev = np.std(numeric_data)
print("Keskiarvon hajonta (Standard Deviation):", std_dev)

# Varianssi
variance = np.var(numeric_data)
print("Varianssi (Variance):", variance)

# Minimiarvo
min_value = np.min(numeric_data)
print("Minimiarvo (Minimum):", min_value)

# Maksimiarvo
max_value = np.max(numeric_data)
print("Maksimiarvo (Maximum):", max_value)

# Summa
sum_value = np.sum(numeric_data)
print("Summa (Sum):", sum_value)

# Tulo
product_value = np.prod(numeric_data)
print("Tulo (Product):", product_value)

Keskiarvo (Mean): 2010.9485565740868
Mediaani (Median): 2017.0
Keskiarvon hajonta (Standard Deviation): 15.927521987616545
Varianssi (Variance): 253.68595666600854
Minimiarvo (Minimum): 1913
Maksimiarvo (Maximum): 2024
Summa (Sum): 29396046
Tulo (Product): 0

**Visualisointi**  
Käytä Matplotlibia erilaisten kaavioiden ja graafien luomiseen. Datasetistäsi ja analyysistäsi riippuen voit tehdä seuraavanlaisia visualisointeja:  
- Viivakaavio (Line Plot)  
- Hajontakaavio (Scatter Plot)  
- Pylväsdiagrammi (Bar Chart)  
- Histogrammi  
- Ympyrädiagrammi (Pie Chart)  
- Lämpökartta (Heatmap)  
- 3D-kaavio