## FULL NETFLIX DATASET

In [27]:
#Alustukset

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data_path = "./data/full_netflix_dataset.csv"

# Datasetin osoite: https://www.kaggle.com/datasets/octopusteam/full-netflix-dataset

In [28]:
#luodaan tiedostosta dataframe ja tulostetaan se.

netflix_df = pd.read_csv(data_path)

netflix_df

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,517695.0,"AT, CH, DE"
1,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,8.2,1223453.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM..."
2,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,211879.0,"AD, AE, AG, AL, AO, AT, AZ, BA, BG, BH, BM, BR..."
3,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,444499.0,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO..."
4,Eternal Sunshine of the Spotless Mind,movie,"Drama, Romance, Sci-Fi",2004.0,tt0338013,8.3,1106519.0,"AD, AE, AG, AL, AO, AR, AU, AZ, BA, BB, BE, BG..."
...,...,...,...,...,...,...,...,...
20191,NaN,tv,NaN,2024.0,NaN,NaN,NaN,"AL, AZ, BA, BG, BY, CY, EE, FR, GF, HU, IT, LT..."
20192,NaN,tv,Drama,2024.0,NaN,NaN,NaN,"AO, CI, CM, CV, GH, GQ, KE, MG, ML, MU, MZ, NE..."
20193,NaN,tv,"Animation, Action & Adventure",2016.0,NaN,NaN,NaN,"FJ, HK, ID, IN, JP, KR, MU, MY, PH, PK, SG, TH..."
20194,NaN,tv,NaN,NaN,NaN,NaN,NaN,"FJ, HK, ID, IN, JP, KR, MU, MY, PH, PK, SG, TH..."
20195,Blippi's Ultimate Bounce House Challenges,tv,NaN,2024.0,tt33769880,NaN,NaN,"AG, AL, AO, AU, AZ, BA, BB, BG, BM, BS, BY, BZ..."

In [29]:
print(netflix_df.head())

                                   title   type                     genres  \
0                      The Fifth Element  movie  Action, Adventure, Sci-Fi
1                      Kill Bill: Vol. 1  movie    Action, Crime, Thriller
2                                Jarhead  movie      Biography, Drama, War
3                             Unforgiven  movie             Drama, Western
4  Eternal Sunshine of the Spotless Mind  movie     Drama, Romance, Sci-Fi

   releaseYear     imdbId  imdbAverageRating  imdbNumVotes  \
0       1997.0  tt0119116                7.6      517695.0
1       2003.0  tt0266697                8.2     1223453.0
2       2005.0  tt0418763                7.0      211879.0
3       1992.0  tt0105695                8.2      444499.0
4       2004.0  tt0338013                8.3     1106519.0

                                  availableCountries
0                                         AT, CH, DE
1  AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM...
2  AD, AE, AG, AL, AO, AT, AZ, BA, BG, BH, BM, BR...
3  AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO...
4  AD, AE, AG, AL, AO, AR, AU, AZ, BA, BB, BE, BG...

In [30]:
print(netflix_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20196 entries, 0 to 20195
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               19682 non-null  object
 1   type                20196 non-null  object
 2   genres              19928 non-null  object
 3   releaseYear         20181 non-null  float64
 4   imdbId              18887 non-null  object
 5   imdbAverageRating   18734 non-null  float64
 6   imdbNumVotes        18734 non-null  float64
 7   availableCountries  20196 non-null  object
dtypes: float64(3), object(5)
memory usage: 1.2+ MB
None

In [31]:
print(netflix_df.describe())

        releaseYear  imdbAverageRating  imdbNumVotes
count  20181.000000       18734.000000  1.873400e+04
mean    2012.936078           6.399664  3.201550e+04
std       14.401484           1.092814  1.199338e+05
min     1913.000000           1.200000  5.000000e+00
25%     2011.000000           5.800000  3.420000e+02
50%     2018.000000           6.500000  1.638000e+03
75%     2021.000000           7.200000  1.054950e+04
max     2025.000000           9.500000  2.965793e+06

In [32]:
missing_values = netflix_df.isnull().sum()
print("Puuttuvat arvot sarakkeittain:")
print(missing_values)

Puuttuvat arvot sarakkeittain:
title                  514
type                     0
genres                 268
releaseYear             15
imdbId                1309
imdbAverageRating     1462
imdbNumVotes          1462
availableCountries       0
dtype: int64

In [33]:
# Poista rivit, joissa on puuttuvia arvoja
netflix_df_cleaned = netflix_df.dropna()

# Tarkista datan koko puhdistamisen jÃ¤lkeen
print("Datan koko puhdistamisen jÃ¤lkeen:", netflix_df_cleaned.shape)

Datan koko puhdistamisen jÃ¤lkeen: (18734, 8)

In [34]:
netflix_df_cleaned['releaseYear'] = netflix_df_cleaned['releaseYear'].astype(int)

# Varmista, ettÃ¤ muutos onnistui
print(netflix_df_cleaned.dtypes)

title                  object
type                   object
genres                 object
releaseYear             int64
imdbId                 object
imdbAverageRating     float64
imdbNumVotes          float64
availableCountries     object
dtype: object

C:\Users\brort\AppData\Local\Temp\ipykernel_11640\695698120.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_df_cleaned['releaseYear'] = netflix_df_cleaned['releaseYear'].astype(int)

In [ ]:
netflix_df_cleaned.drop(["imdbId", "imdbNumVotes", "availableCountries"], axis=1, inplace= True)

,title,type,genres,releaseYear,imdbAverageRating
0,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997,7.6
1,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003,8.2
2,Jarhead,movie,"Biography, Drama, War",2005,7.0
3,Unforgiven,movie,"Drama, Western",1992,8.2
4,Eternal Sunshine of the Spotless Mind,movie,"Drama, Romance, Sci-Fi",2004,8.3
...,...,...,...,...,...
20178,This Is the Zodiac Speaking,tv,"Crime, Documentary",2024,7.2
20179,The Manhattan Alien Abduction,tv,Documentary,2024,5.3
20181,Children of the Church Steps,tv,"Drama, History, Thriller",2024,6.6
20184,Don't Come Home,tv,"Drama, Horror, Mystery",2024,7.3
20188,The Evolution of Black British Music,tv,"Documentary, Music",2022,7.2

In [36]:
netflix_df_cleaned = netflix_df_cleaned[netflix_df_cleaned['type'] == 'movie']

In [37]:
netflix_df_cleaned

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997,tt0119116,7.6,517695.0,"AT, CH, DE"
1,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003,tt0266697,8.2,1223453.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM..."
2,Jarhead,movie,"Biography, Drama, War",2005,tt0418763,7.0,211879.0,"AD, AE, AG, AL, AO, AT, AZ, BA, BG, BH, BM, BR..."
3,Unforgiven,movie,"Drama, Western",1992,tt0105695,8.2,444499.0,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO..."
4,Eternal Sunshine of the Spotless Mind,movie,"Drama, Romance, Sci-Fi",2004,tt0338013,8.3,1106519.0,"AD, AE, AG, AL, AO, AR, AU, AZ, BA, BB, BE, BG..."
...,...,...,...,...,...,...,...,...
15510,It's All Over: The Kiss That Changed Spanish F...,movie,"Documentary, Sport",2024,tt33615797,6.8,426.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
15518,Once in a Lifetime,movie,Documentary,2009,tt1520370,7.1,27.0,"AT, DE"
15520,Adrienne Iapalucci: The Dark Queen,movie,"Comedy, Documentary",2024,tt33996575,6.6,164.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
15529,Nayanthara: Beyond the Fairy Tale,movie,Documentary,2024,tt22297698,4.0,312.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
15531,Chhota Bheem Aur Mahavinashini ka Vinaash,movie,Animation,2022,tt28081893,6.5,14.0,"AD, AE, AG, AL, AO, AR, AZ, BA, BR, BS, BY, CA..."